.page2 {
  background-color: lightblue;
  h1 {
    color: white;
  }
}

.galeria {
  margin-bottom: 40px;
  img {
    width: 100%;
    height: 400px;
    margin: 10px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    transition: 0.2s ease;
  }
  img:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
  }
}
