main {
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: lightseagreen;
  h1 {
    color: #fff;
    text-align: center;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    padding: 10px;
  }
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.tarjeta {
  position: relative;
  width: 400px;
  height: 500px;
  margin: 25px;
}

.tarjeta .face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.5s;
}

.tarjeta .front {
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0px 5px 10px #000;

  img {
    position: absolute;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
  }
  h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
  }
}

.tarjeta .back {
  transform: perspective(600px) rotateY(180deg);
  background: rgb(3, 35, 54);
  box-shadow: 0px 5px 10px #000;
  padding: 15px;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tarjeta:hover .front {
  transform: perspective(600px) rotateY(180deg);
}

.tarjeta:hover .back {
  transform: perspective(600px) rotateY(360deg);
}
